#boton{
	position: relative;
	top: -50px;
	right: -150px;
}
#buscar{
	position: relative;
	top: -380px;
	right: -90px;
}

#bto{
	position: relative;
	top: -50px;
	right: -150px;
}
#bn{
	position: relative;
	top: 400px;
}

#bm{
	position: relative;
	top: -50px;
	right: -150px;
}