{% extends 'retos/base.html' %}
	{% block content %}

			<h3>detalle del reto</h3>
		<p>DESCRIPCION:  {{ detalle.descripcion	}}</p>
		<p>FECHA CREACION: {{ detalle.fecha_creacion	}}</p>
		<p>FECHA PUBLICACION: {{ detalle.fecha_publicacion }}</p>
		<p>HORA PUBLICACION: {{ detalle.hora_publicacion }}</p>
		<p>FECHA LIMITE: {{ detalle.fecha_limite }}  </p>
		<p>HORA LIMITE: {{ detalle.hora_limite }}</p>	
		<p>TIPO: {{ detalle.tipo 	}}		</p>	
		<p>DIFICULTAD: {{ detalle.dificultad	}}	</p>	
		<p>ARCHIVO:</p>
		<a href="">{{ detalle.archivo }}" height="140" border=4 height=180></a>
		<p>CATEGORIA: {{ detalle.categoria	}}</p>
		<p>ESTADO: {{ detalle.estado       }} </p>  
<a href="{% url 'lista_reto'%}"><button class="btn btn-defect">inicio</button></a>
	{% endblock %}