{% extends 'retos/base.html' %}
{% block content %}
<h3>Buscar Aprendiz</h3>
<form method="POST" action="" class="busqueda">
		{% csrf_token %} 				
		{{ form }}
		<br>			
		<button class="btn btn-default" color="#7F2148">busqueda</button>
	</form>
	<a href="{% url 'aprendices' %}"><button id="bto" class="btn btn-default" >cancelar</button></a>
	<div class="card">
	{% for ap in ap %}
	<p>el aprendiz es: {{ ap.identificacion }} {{ ap.apellidos }} {{ ap.nombres }} </p>
	{% endfor %}
	</div>
		{% if  mensaje  %}
           <h4>{{ mensaje }}</h4>
        {% endif %}
{% endblock content %}