{% extends 'retos/base.html' %}
{% block content %}

<h3>Lista Aprendices</h3>

	<a href="{% url 'buscar' %}"><button class="btn btn-default" color="#7F2148"><i class="material-icons">search</i></button></a>
		<table>
			<tr>
				<td><strong>identificacion</strong></td>
				<td><strong>nombres</strong></td>
				<td><strong>apellidos</strong></td>
				<td><strong>ficha</strong></td>
				<td><strong>telefono</strong></td>
				<td><strong>correo</strong></td>
				<td><strong>opciones</strong></td>


			</tr>
	 
			<tr>
				<td>
						{% for lista in lista %}
						<div>
							<p>{{lista.identificacion}}</p>	
						</div>
						{% endfor %}
				</td>
				<td>
				        {% for lista in lista %}
						<div>
							<p>{{lista.nombres}}</p>
						</div>
						{% endfor %}
				</td>
				<td>  
				        {% for lista in lista %}
						<div>
							<p>{{lista.apellidos}}</p>
						</div>
						{% endfor %}
				</td>
				
				<td>

				        {% for lista in lista %}
						<div>
							<p>{{lista.ficha}}</p>
						</div>
						{% endfor %}
				</td>
			
				<td>
				        {% for lista in lista %}
						<div>
							<p>{{lista.telefono}}
						</div>
						{% endfor %}

					
				</td>
				<td>
				        {% for lista in lista %}
						<div>
							<p>{{lista.correo}}</p>
						</div>
						{% endfor %}
				</td>
                <td>
				        {% for lista in lista %}
						<div>
					        <p><a href="{% url 'retos.views.editar' pk=lista.pk %}">editar</a></p>
						</div>
						{% endfor %}
				</td>
				
		</table>
		<a href="{% url 'registrar_aprendices' %}"><button id="buscar" class="btn btn-default"><i class="material-icons">add</i></button></a>

{% endblock content %}