{% extends 'retos/base.html' %}
	{% block content %}
        <h3>Categorias</h3>
		<table>
			<tr>
				<td><strong>nombre categoria</strong></td>
			</tr>
			<tr>
				<td>
					{% for categorias in categorias %}
						<div>
							<p>{{categorias.nombre}}
							<a href="{% url 'retos.views.editar_categoria' pk=categorias.pk %}">editar</a>
							<a href="{% url 'eliminar_categoria'  pk=categorias.pk %}">eliminar</a>
							{% if alerta %}
								<h3>{{ alerta }}</h3>
							{%  endif  %}
							</p>
						</div>
					{% endfor %}
				</td>
			</tr>
		</table>
		<a href="{% url 'agregar_categoria'%}"><button class="btn btn-default">agregar</button></a>
	{% endblock %}