{% extends 'retos/base.html' %}
{% block content %}
{% if user.is_authenticated and user.is_staff %}
<div class="container">
				<h3>Lista de Instructores</h3>
					<table class="striped" class="responsive-table">
						<head>
							<tr>
									<th>Nombre</th>
									<th>Apellido</th>
									<th>Teléfono</th>
									<th>Username</th>
									{% if user.is_authenticated and user.is_superuser %}
									<th> <i class="material-icons">create</i></th>
									<th> <i class="material-icons">delete</i></th>
									{% endif %}
							</tr>
						</head>

						<body>
							{% for per in personas %}
								<tr>
									<td>{{per.nombres}}</td>
									<td>{{per.apellidos}}</td>
									<td>{{per.telefono}}</td>
									<td>{{per.user}}</td>
								
								{% if user.is_authenticated and user.is_superuser %}
								<td><a href="{% url 'edit_intructor' pk=per.id %}">editar </a>
								
								</td> 
								<td>
									<a href="{% url 'eliminar_instructor' pk=per.id %}" onclick="if (!confirm('¿desea eliminar el instructor?')) return false ;">eliminar</a>
								</td>
							 </tr>
								{% endif %}
							{% endfor %}

				</td>

						</body>
					</table>

</div>		
{% endif %}
{% endblock %}


	